@font-face {
    font-family: 'UbuntuMono';
    src: url('fonts/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0d1011;
}

canvas {
    margin-inline: auto;
    margin-block: auto;
}