---
import games from '../data/games.json'
import GameLayout from '../layouts/GameLayout.astro'

export function getStaticPaths() {
	return games.map((game) => ({
		params: { gameId: game.id },
		props: { game },
	}))
}

const { game } = Astro.props
---

<GameLayout title={game.title}>
	<div class='aspect-video max-h-dvh mx-auto'>
		<iframe
			src={game.gameUrl}
			id='game-iframe'
			class='w-full h-full'
			allowfullscreen='true'
			style='aspect-ratio:16/9;'></iframe>
	</div>

	<div class='py-l text-center'>
		<a
			href='/'
			aria-label='home'
			class='inline-block bg-cream-500 hover:bg-cream-600 px-xs py-2xs font-bold font-robotoCondensed rounded-sm text-black-500'
			>Back to games
		</a>
	</div>
</GameLayout>
