---
import KofiCta from '../components/KofiCta.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='About Us | MYOL MiniGames'>
	<div class='px-s py-xl max-w-7xl mx-auto space-y-xl'>
		<p class='text-step-4 font-bold font-kode'>
			We love games, and think you should enjoy them ad free, tracking
			free, no strings attached. Your support keeps us going!
		</p>

		<KofiCta />
		<p class='text-step-4 font-bold font-kode'>
			We&apos;re ad free, but open to sponsorship and collaboration with
			brands that align with our values.
		</p>
	</div>
</BaseLayout>
