---
import KofiCta from '../components/KofiCta.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='About Us | MYOL MiniGames'>
	<div class='px-s py-xl max-w-7xl mx-auto space-y-xl'>
		<p class='text-step-4 font-bold font-kode'>Get in touch!</p>

		<KofiCta />
	</div>
</BaseLayout>
