---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='eagle eyes'>
	<h1>Eagle eyes</h1>
	<div id='game-container'>
		<iframe src='/games/eagleeyes/index.html' width='800' height='600'
		></iframe>
	</div>
</BaseLayout>
