---
import GamesContainer from '../components/GamesContainer.astro'
import KofiCta from '../components/KofiCta.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='MYOL MiniGames'>
	<a href='/mgs'>Play mgs</a>
	<a href='/eagleeyes'>Play Eagle Eyes</a>

	<GamesContainer />
	<KofiCta />
</BaseLayout>
