---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='mgs'>
	<h1>my grandfather secret</h1>
	<div id='game-container'>
		<iframe src='/games/mgs/index.html' width='800' height='600'></iframe>
	</div>
</BaseLayout>
