---
import ridges from '../assets/ridges.svg'
import FilterGames from './FilterGames'
---

<section class='pb-xl'>
	<img class='w-screen' src={ridges.src} alt='' />
	<div class='px-s pt-2xs pb-xl bg-black-400'>
		<FilterGames client:load />
	</div>
</section>
