---
import FilterGames from './FilterGames'
import NoiseWrapper from './NoiseWrapper.astro'
---

<section class='pb-xl'>
	<div class='max-w-screen-2xl mx-auto rounded-lg overflow-hidden'>
		<NoiseWrapper>
			<div class='px-s py-xl bg-black-400/20'>
				<FilterGames client:load />
			</div>
		</NoiseWrapper>
	</div>
</section>
