---
import kofi from '../assets/logos/kofi.svg'
import data from '../data/baseData'
---

<a
	href={data.kofiPage}
	target='_blank'
	rel='noopener noreferrer'
	aria-label='kofi-page'
	class='bg-blue-400 hover:bg-blue-500 border-2 border-inherit px-xs py-2xs rounded-sm text-black-500 hover-transition'
>
	<span
		class='font-robotoCondensed font-medium text-step--1 uppercase flex items-center gap-2xs justify-center'
		>support us on <img src={kofi.src} alt='Kofi Logo' /></span
	>
</a>
