---
import KofiBtn from './KofiBtn.astro'
import yellowBlob from '../assets/blobs/yellow.png'
import blueBlob from '../assets/blobs/blue.png'
import NoiseWrapper from './NoiseWrapper.astro'
---

<div
	class='bg-orange-500 max-w-screen-2xl mx-auto rounded-lg overflow-hidden border-2 border-cream-500'
>
	<NoiseWrapper>
		<div class='px-s py-3xl'>
			<img
				class='absolute right-s md:right-48 lg:right-96 top-[2%] lg:top-[2%] drop-shadow-hard motion-safe:animate-[bounce_3s_ease-in-out_infinite] z-20'
				src={blueBlob.src}
				alt=''
			/>
			<div
				class='px-m py-2xl sm:p-xl border-4 border-inherit bg-cream-500 max-w-4xl mx-auto space-y-l drop-shadow-hard relative rounded-sm'
			>
				<p class='text-step-2 font-light font-robotoCondensed'>
					We love games, and think you should enjoy them ad free,
					tracking free, no strings attached. Your support keeps us
					going!
				</p>

				<div class='flex justify-center mb-0'>
					<KofiBtn />
				</div>
				<img
					class='absolute left-[-4%] bottom-[-8%] sm:bottom-s z-20 motion-safe:animate-bounce'
					src={yellowBlob.src}
					alt=''
				/>
			</div>
		</div>
	</NoiseWrapper>
</div>
