---
import kofi from '../assets/logos/kofi.svg'
---

<a
	href='/'
	aria-label='kofi-page'
	class='bg-blue-100 border-2 border-black-400 font-kode font-bold px-xs py-2xs flex items-center gap-2xs justify-center'
>
	support us on <img src={kofi.src} alt='MYOL Mini Games Logo' />
</a>
