---
import KofiBtn from './KofiBtn.astro'
---

<div
	class='p-m sm:p-xl border-4 border-inherit bg-cream-200 max-w-4xl mx-auto space-y-l drop-shadow-hard'
>
	<p class='text-step-0 font-bold font-kode'>
		We love games, and think you should enjoy them ad free, tracking free,
		no strings attached. Your support keeps us going!
	</p>

	<div class='flex justify-center'>
		<KofiBtn />
	</div>
</div>
