---
import KofiBtn from './KofiBtn.astro'
import MyolLogo from './MyolLogo.astro'
---

<header class='py-2xs border-b-4 border-black-300 bg-orange-200'>
	<nav
		class='flex flex-col gap-s sm:flex-row justify-center sm:justify-between max-w-screen-xl mx-auto px-s'
	>
		<div class='flex items-center justify-center gap-2xs'>
			<MyolLogo />
			<p class='text-step-0 font-bold'>Mini Games</p>
		</div>
		<div class='flex justify-center'>
			<KofiBtn />
		</div>
	</nav>
</header>
