<div class='relative rounded-lg overflow-hidden'>
	<!-- Noise layer -->
	<div
		class='absolute inset-0 z-0 pointer-events-none opacity-15'
		style="background-image: url('/noise.png'); background-repeat: repeat;"
	>
	</div>

	<!-- content -->
	<div class='relative z-10'>
		<slot />
	</div>
</div>
